body{
    font-family: 'Roboto', sans-serif;
    /* height: 10000px; */
}
:root{
    --dark-color:#19283f;
    --green-color:#33d1cc;
    --green-color-hover:#33d1ccce;
    --section-color:#eff7fa;
}
.sec-title{
    font-size: 2.5em;
}

.main-title::after{
    content: '';
    width: 40px;
    height: 2px;
    background-color: var(--green-color);
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}

.lan-i img{
    width: 30px;
}
.lan-i{
    display: flex;
}
.lan-i div{
    border-radius: 100%;
    padding: 10px;
    margin-right: 5px;
    background-color: #23334d;
}
@media (max-width:1023px) {
    .lan-i{
        overflow: hidden;
    }
    .lan-i img{
        width: 20px;
    }
    .lan-i div{
        padding: 5px;
    }
}

.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateY(70%);
    transition: all 1s;
    position: absolute;
}
.show{
    position: relative;
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media (prefers-reduced-motion) {
    .hidden{
        transition: none;
    }
}
section{
    background-color: var(--section-color);
}

/* header */

.navbar{
    background-color: var(--dark-color);
    transition: 0.3s;
}
.navbar-brand{
    color: #fff;
}
.navbar .navbar-nav .nav-link{
    color: #fff;
}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:hover{
    color: var(--green-color);
}
.navbar .navbar-nav .nav-link.active{
    font-weight: bold;
}

.search {
    border-left: 1px solid var(--green-color);
}
.search svg{
    color: var(--green-color);
    cursor: pointer;
}

.navbar .navbar-toggler{
    color: #fff;
    font-size: 20px;
    border-color: #fff;
}

.navbar .navbar-toggler:focus{
    box-shadow: none;
}

.navbar .navbar-toggler[aria-expanded="true"]{
    border-color: var(--green-color);
}
#main-btn{
    background-color: var(--green-color);
}
#main-btn-s{
    border: 1px solid var(--green-color);
    color: var(--green-color);
}
#main-btn:hover{
    background-color: var(--green-color-hover);
}

/* sec1 */
.sec1{
    width: 100%;
    min-height: 100vh;
    background-color: var(--dark-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (min-width:1950px) {
    .sec1{
        min-height: 80vh;
    }

}
@media (max-width:768px) {
    .who{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.blob{
    width: 600px;
    background-color: var(--green-color);
    height: 600px;
    background-image: url("../img/karemm.png");
    background-size: cover;
    background-position: center;
    overflow: hidden;
    border-radius: 42% 56% 72% 28% / 42% 42% 56% 48%;
    animation: blob 5.7s linear infinite;
    box-shadow: 0 0 15px var(--green-color);
}
.blob img{
    width: 100%;
}

@keyframes blob{
    0% , 100%{
        border-radius: 42% 56% 72% 28% / 42% 42% 56% 48%;
    }

    33%{
        border-radius: 42% 28% 48% 48% / 28% 28% 72% 72%;
    }

    66%{
        border-radius: 100% 56% 56% 100% / 100% 100% 56% 56%;
    }
}


.who{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -50px;
}
.who h4{
    color: #fff;
    /* border-left: 5px solid var(--green-color); */
    /* padding-left: 10px; */
}
.who h3{
    color: #fff;
}
.who span{
    color: var(--green-color);
}
.who .typed-cursor{
    background-color: var(--green-color);
}
.who ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    padding-left: 0;
}
.who ul li{
    display: flex;
    justify-content: start;
    align-items: start;
    padding: 10px;
}
.who ul li svg{
    color: #fff;
    font-weight: bold;
    border-radius: 100%;
    font-size: 1.3em;
}
.who ul li svg:hover{
    color: var(--green-color);
}
@media (max-width:1023px) {
    .sec1 .container{
        flex-direction: column-reverse;
        width: 100%;
        overflow: hidden;

    }
    .who{
        height: 50vh;
        margin: auto;
        margin-top: -50px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .who h4{
        font-size: 1.5em;
    }
    .who h3{
        font-size: 1.8em;
    }
    .who span{
        font-size: 1.6em;
    }
    .blob{
        height: 35vh;
        width: 100%;
        margin: auto;
    }
    .blob-div{
        width: 100%;
        height: 40vh;
        width: 80%;
        margin: auto;
    }
    .who ul li svg{
        font-size: 1em;
    }
}

/* sec2 */
.sec2{
    min-height: 80vh;
    width: 100%;
    background-color: var(--section-color);
}
.about-title{
    background: -webkit-linear-gradient(90.22deg, #0f887e 23.44%, var(--green-color) 53.4%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.skills p{
    font-size: 1.2em;
    font-weight: 500;
    color: #585858;
}
.braket{
    color: var(--green-color);
    font-weight: bolder;
    font-size: 1.3em;
}

/* sec3 */
.sec3{
    min-height: 80vh;
    width: 100%;
    /* background-color: rgb(248 250 253); */
    background-color: var(--section-color);
}
.project{
    background-color: #fff;
    border-radius: 10px;
    /* margin-top: 100px; */
    position: relative;
    width: 100%;
    overflow: hidden;
}
.linear-te{
    background: -webkit-linear-gradient(90.22deg, #0f887e 23.44%, var(--green-color) 53.4%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.project-title h3{
    font-size: 1.5em;
    width: 100%;
    padding: 0;
}
.project svg{
    margin-right: 5px;
    font-weight: bold;
    color: var(--green-color);
}
.project .show-pro{
    background-color: var(--dark-color);
    color: #fff;
}
.project .show-pro:hover{
    background-color: var(--green-color);
    color: #fff;
}
.project img{
    margin: 0;
    padding: 0;
}
.project p, .project button{
    direction: ltr;
}

/* .project::before{
    content: attr(pro-name);
    background-color: #33d1ccbf;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: #fff;
    font-weight: bold;
    font-size: 2rem;
    padding-top: 50px;
    transform: translateX(-100%);
    transition: 0.5s;
}
.project:hover::before{
    transform: translateX(0);
} */



/* contact */
.contact{
    width: 100%;
    min-height: 100vh;
}

.contact-address{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-address div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 32%;
    margin-bottom: 20px;
    height: 170px;
    border-radius: 10px;
    background-color: #fff;
    border: 0.5px solid rgba(128, 128, 128, 0.356);
    /* border: 1px solid rgba(128, 128, 128, 0.589); */
}

.contact-address div .ic-cont{
    font-size: 2em;
    margin-bottom: 15px;
}
.contact-address div p{
    font-weight: bold;
}
.send-message{
    padding: 20px;
    display: flex;
    margin: auto;
    border-radius: 10px;
    background-color: #fff;
    border: 0.5px solid rgba(128, 128, 128, 0.356);
}
.contact h3,.contact h1{
    font-size: 1.3em;
}
.send-message button{
    background-color: var(--dark-color);
    color: #fff;
}
.send-message button:hover{
    background-color: var(--green-color);
    color: #fff;
}

@media (max-width:768px) {
    .contact-address div{
        width: 100%;
        margin: auto;
        margin-bottom: 20px;
    }

    .contact{
        padding: 0 5%;
    }
}

/* comment */
.user-comment{
    min-height: 90px;
    display: flex;
}
.user-comment img{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: 0.5px solid black;
}
.user-comment .com{
    width: 100%;
    border-radius: 20px 25px 25px 25px;
    padding: 13px 8px 5px 20px;
    position: relative;
}
.user-comment .com h3{
    font-size: 1.2em;
}
.user-comment .com span{
    font-size: 0.8em;
}
.user-comment .com p{
    font-size: 0.9em;
}


.user-comment .com::before{
    content: "";
    border-width: 15px;
    border-style: solid;
    border-color: transparent #fff transparent transparent;
    position: absolute;
    top:15px;
    left: -30px;
}
@media (max-width:768px) {
    .user-comment img{
        width: 40px;
        height: 40px;
        margin-right: 15px;
    }
    .user-comment .com::before{
        top: 10px;
        left: -22px;
        border-width: 12px;
    }
}